/* You can add global styles to this file, and also import other style files */


@font-face {
    font-family: 'Gilroy-Black';
    src: url('../src/assets/fonts/Gilroy-Black.ttf') format('truetype');
  } 
  @font-face {
      font-family: 'Gilroy-BlackItalic';
      src: url('../src/assets/fonts/Gilroy-BlackItalic.ttf') format('truetype');
    } 
  
    @font-face {
      font-family: 'Gilroy-Bold';
      src: url('../src/assets/fonts/Gilroy-Bold.ttf') format('truetype');
    } 
  
    
    @font-face {
      font-family: 'Gilroy-BoldItalic';
      src: url('../src/assets/fonts/Gilroy-BoldItalic.ttf') format('truetype');
    } 
  
    @font-face {
      font-family: 'Gilroy-ExtraBold';
      src: url('../src/assets/fonts/Gilroy-ExtraBold.ttf') format('truetype');
    } 
    
    @font-face {
      font-family: 'Gilroy-ExtraBoldItalic';
      src: url('../src/assets/fonts/Gilroy-ExtraBoldItalic.ttf') format('truetype');
    } 
  
    @font-face {
      font-family: 'Gilroy-Heavy';
      src: url('../src/assets/fonts/Gilroy-Heavy.ttf') format('truetype');
    }
    
    @font-face {
      font-family: 'Gilroy-HeavyItalic';
      src: url('../src/assets/fonts/Gilroy-HeavyItalic.ttf') format('truetype');
    } 
    
    @font-face {
      font-family: 'Gilroy-Light';
      src: url('../src/assets/fonts/Gilroy-Light.ttf') format('truetype');
    } 
  
    @font-face {
      font-family: 'Gilroy-LightItalic';
      src: url('../src/assets/fonts/Gilroy-LightItalic.ttf') format('truetype');
    } 
  
    @font-face {
      font-family: 'Gilroy-Medium';
      src: url('../src/assets/fonts/Gilroy-Medium.ttf') format('truetype');
    } 
  
    @font-face {
      font-family: 'Gilroy-MediumItalic';
      src: url('../src/assets/fonts/Gilroy-MediumItalic.ttf') format('truetype');
    } 
  
    @font-face {
      font-family: 'Gilroy-Regular';
      src: url('../src/assets/fonts/Gilroy-Regular.ttf') format('truetype');
    } 
    @font-face {
      font-family: 'Gilroy-RegularItalic';
      src: url('../src/assets/fonts/Gilroy-RegularItalic.ttf') format('truetype');
    } 
    @font-face {
      font-family: 'Gilroy-SemiBold';
      src: url('../src/assets/fonts/Gilroy-SemiBold.ttf') format('truetype');
    } 
    @font-face {
      font-family: 'Gilroy-SemiBoldItalic';
      src: url('../src/assets/fonts/Gilroy-SemiBoldItalic.ttf') format('truetype');
    } 
    @font-face {
      font-family: 'Gilroy-Thin';
      src: url('../src/assets/fonts/Gilroy-Thin.ttf') format('truetype');
    } 
    @font-face {
      font-family: 'Gilroy-ThinItalic';
      src: url('../src/assets/fonts/Gilroy-ThinItalic.ttf') format('truetype');
    } 
    @font-face {
      font-family: 'Gilroy-UltraLight';
      src: url('../src/assets/fonts/Gilroy-UltraLight.ttf') format('truetype');
    } 
    @font-face {
      font-family: 'Gilroy-UltraLightItalic';
      src: url('../src/assets/fonts/Gilroy-UltraLightItalic.ttf') format('truetype');
    } 
    @font-face {
      font-family: 'Poppins-Bold';
      src: url('../src/assets/fonts/Poppins-Bold.otf') format('opentype');
    } 
    
    
  :root {
      --f-gb:"Gilroy-Black";
      --f-gbi:"Gilroy-Black";
      --f-gbd:"Gilroy-Bold";
      --f-gbdi:"Gilroy-BoldItalic";
      --f-geb:"Gilroy-ExtraBold";
      --f-gebi:"Gilroy-ExtraBoldItalic";
      --f-gh:"Gilroy-Heavy";
      --f-ghi:"Gilroy-HeavyItalic";
      --f-gl:"Gilroy-Light";
      --f-gli:"Gilroy-LightItalic";
      --f-gm:"Gilroy-Medium";
      --f-gmi:"Gilroy-MediumItalic";
      --f-r:"Gilroy-Regular";
      --f-ri:"Gilroy-RegularItalic";
      --f-sb:"Gilroy-SemiBold";
      --f-sbi:"Gilroy-SemiBoldItalic";
      --f-gt:"Gilroy-Thin";
      --f-gti:"Gilroy-ThinItalic";
      --f-gul:"Gilroy-UltraLight";
      --f-guli:"Gilroy-UltraLightItalic";
      --f-pb:"Poppins-Bold";
    }
    

    
    body {
      margin: 0px;
      
    }
  
  
    *
  {
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      -o-box-sizing:border-box;
      box-sizing:border-box;
      padding:0px;
      margin:0px;
  }